
/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 90px; /* Adjust based on the height of the ad ribbon */
}

.ad-ribbon {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust based on the height of the ad ribbon */
    background-color: #e0e1d9;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it stays on top of other content */
}


/* Basic styles for the dropdown menu */
.filter-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.filter-container label {
  margin-right: 10px;
}

.filter-container select {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Container for the gallery images */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Style for individual images */
.filterdiv {
  width: 200px;
  display: block;
}

.gallery {
  position

